*{
    margin: 0;
    padding: 0;
}

body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif; 
    color: #ffffff;
}

.image {
    display: block; 
    width: 318px; 
    margin-left: auto; 
    margin-right: auto;
}

.archive {
    width: 960px; 
    margin-left: auto; 
    margin-right: auto;
}

.article{
    width: 960px; 
    margin-left: auto; 
    margin-right: auto;
}

.post-link{
    color: white;
}

.post-about {
    display: flex;
    justify-content: space-between;
}
.about-author {
    text-align: left;
}